<h2>Template</h2>

<!-- use propety binding -->
<button type="button" [disabled]="isFormValid() == true">Cadastrar</button>
<button type="button" [disabled]="false">Cadastrar</button>
<button [disabled]="isFormValid2">Save</button>
<a [href]="link">Facebook</a>

<!-- Use class -->
<button type="button" [class]="classBtn" [class]="btnPrimary">Entar</button>
<button type="button"  [class]="btnHover">Inscrever-se</button>
<br/>

<!-- Events -->
 <!-- <input type="text" name="" id=""(keyup)="onKeyup($event)" > -->
 <input type="text" name="" id=""(keyup.enter)="onKeyupEnter($event)" > <!--  Especificar o evento -->
<br/>
<a href="#overlay" (click)="showOverlay($event)">Overlay</a>