<form action="get" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="first-name">First Name: </label>
        <input type="text" id="first-name" formControlName="firstName"  />
    </div>
    <div>
        <label for="last-name">Last Name: </label>
        <input type="text"  id="last-name" formControlName="lastName"/>
    </div>

    <div   formGroupName="address">
        <h3>Address</h3>

        <div>
            <label for="street">Street: </label>
            <input type="text"  id="street" formControlName="street"/>
        </div>

        <div>
            <label for="city">City: </label>
            <input type="text"  id="city" formControlName="street"/>
        </div>
        <div>
            <label for="street">state: </label>
            <input type="text"  id="state" formControlName="street"/>
        </div>

    </div>
    {{ profileForm.status }}

    <div formArrayName="aliases">
        <h3>Aliases</h3>
        <button type="button" (click)="addAlias()">Add Alias</button>
        
        @for(alias of aliases.controls; track $index;  let i = $index ){

            <div>
                <label for="alias-{{i}}">Alias {{i + 1}}: </label>
                <input type="text" id="alias-{{i}}" [formControlName]="i" />
                <!-- <button type="button" (click)="removeAlias(i)">Remove</button> -->
            </div>
        }
    </div>
    <button type="submit">Cadastrar</button>  | <button type="button" (click)="onUpdate()">Update</button>
</form>